@font-face {
	font-family: 'gbicon';
	src:url('fonts/gbicon.eot?jf68u7');
	src:url('fonts/gbicon.eot?jf68u7#iefix') format('embedded-opentype'),
		url('fonts/gbicon.ttf?jf68u7') format('truetype'),
		url('fonts/gbicon.woff?jf68u7') format('woff'),
		url('fonts/gbicon.svg?jf68u7#gbicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'gbicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu1:before {
	content: "\e15c";
}
.icon-menu2:before {
	content: "\e20e";
}
.icon-menu3:before {
	content: "\e90e";
}
.icon-menu4:before {
	content: "\f0c9";
}
.icon-dot-menu:before {
	content: "\e901";
}
.icon-dot-menu2:before {
	content: "\e907";
}
.icon-dots-three-vertical:before {
	content: "\e908";
}
.icon-angle-left:before {
	content: "\e904";
}
.icon-angle-right:before {
	content: "\e905";
}
.icon-angle-down:before {
	content: "\e906";
}
.icon-angle-up:before {
	content: "\e909";
}
.icon-cart1:before {
	content: "\e1df";
}
.icon-cart2:before {
	content: "\e91a";
}
.icon-car3:before {
	content: "\e2df";
}
.icon-cart4:before {
	content: "\e902";
}
.icon-close:before {
	content: "\e209";
}
.icon-plus:before {
	content: "\e900";
}
.icon-search1:before {
	content: "\e2ca";
}
.icon-search2:before {
	content: "\f22c";
}
.icon-heart1:before {
	content: "\e291";
}
.icon-heart2:before {
	content: "\e292";
}
.icon-heart3:before {
	content: "\f004";
}
.icon-heart4:before {
	content: "\f08a";
}
.icon-star1:before {
	content: "\f005";
}
.icon-star2:before {
	content: "\f006";
}
.icon-camera:before {
	content: "\e90a";
}
.icon-check:before {
	content: "\e90b";
}
.icon-skype-with-circle:before {
	content: "\e910";
}
.icon-facebook-with-circle:before {
	content: "\e911";
}
.icon-google-with-circle:before {
	content: "\e912";
}
.icon-instagram-with-circle:before {
	content: "\e913";
}
.icon-linkedin-with-circle:before {
	content: "\e914";
}
.icon-pinterest-with-circle:before {
	content: "\e915";
}
.icon-tumblr-with-circle:before {
	content: "\e916";
}
.icon-twitter-with-circle:before {
	content: "\e917";
}
.icon-vimeo-with-circle:before {
	content: "\e918";
}
.icon-youtube-with-circle:before {
	content: "\e919";
}
.icon-pinterest-with-circle2:before {
	content: "\f0d2";
}
.icon-pagelines:before {
	content: "\f18c";
}
.icon-trash:before {
	content: "\f1f8";
}
.icon-at:before {
	content: "\f1fa";
}

